* {
	margin: 0;
	padding: 0;
}
table {
	height: 700px;
	width: 600px;
	margin: auto;
	border-collapse: collapse;
}
td {
	border: 5px solid black;
}
td:first-child {
	border-left: none;
}
tr:first-child td {
	border-top: none;
}
td:last-child {
	border-right: none;
}
.bottom {
	border-bottom: none;
}
.yellow {
	background-color: yellow;
}
.red {
	background-color: red;
}
.black {
	background-color: black;
}
.blue {
	background-color: blue;
}